[Unit]
Description=milos configure system
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/var/lib/%N.stamp
ConditionPathExists=/var/lib/milos-signed-autorebase.stamp

[Service]
Type=oneshot
StandardOutput=journal+console
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/groupadd --force docker
ExecStart=/usr/bin/groupadd --force vboxusers
ExecStart=/usr/bin/flatpak remote-modify --system --default-branch=stable flathub
ExecStart=/usr/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
