[Unit]
Description=milos autorebase to signed OCI and reboot
ConditionPathExists=!/var/lib/%N.stamp
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=journal+console
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/bash -c '/usr/bin/rpm-ostree rebase --bypass-driver ostree-image-signed:docker://$( rpm-ostree status | grep '● ostree-unverified-registry' | cut -d ":" -f 2 )'
ExecStart=/usr/bin/touch /var/lib/%N.stamp
ExecStart=/usr/bin/systemctl reboot

[Install]
WantedBy=multi-user.target
