[Unit]
Description=milos autorebase to signed OCI and reboot
ConditionPathExists=!/etc/milos-signed-autorebase/done
After=network-online.target milos-config-system.service
Wants=network-online.target
Before=system-flatpak-setup.timer system-flatpak-setup.service user-flatpak-setup.timer user-flatpak-setup.service

[Service]
EnvironmentFile=/var/lib/milos_image_name
Type=oneshot
StandardOutput=journal+console
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/rpm-ostree rebase --bypass-driver ostree-image-signed:docker://ghcr.io/arcdablid/${MILOS_IMAGE_NAME}:latest
ExecStart=/usr/bin/touch /etc/milos-signed-autorebase/done
ExecStart=/usr/bin/systemctl reboot

[Install]
WantedBy=multi-user.target
