[Unit]
Description=Set default branch to stable for user flatpaks
ConditionPathExists=!%h/.var/lib/%N.stamp
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=2
ExecStart=mkdir -p %h/.var/lib
ExecStart=usr/bin/flatpak remote-modify --user --default-branch=stable flathub
ExecStart=/usr/bin/touch %h/.var/lib/%N.stamp

[Install]
WantedBy=default.target
